<% if @subjects.blank? %>
  <h4>There are no subject containing the term<%= params[:search] %>.</h4>
<% end %>
<%= form_tag( home_search_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Subjects" %>
<%= submit_tag "Search" %>
<% end %>
<div class="click">
  <%= link_to @subjects, id: :search_result %>
</div>
