<%= form_with(model: academic_type, local: true) do |form| %>
  <% if academic_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(academic_type.errors.count, "error") %> prohibited this academic_type from being saved:</h2>

      <ul>
      <% academic_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation, id: :academic_type_abbreviation %>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :academic_type_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :academic_type_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
