<p id="notice"><%= notice %></p>

<h1>Academic Types</h1>

<table>
  <thead>
    <tr>
      <th>Abbreviation</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academic_types.each do |academic_type| %>
      <tr>
        <td><%= academic_type.abbreviation %></td>
        <td><%= academic_type.name %></td>
        <td><%= academic_type.description %></td>
        <td><%= link_to 'Show', academic_type %></td>
        <td><%= link_to 'Edit', edit_academic_type_path(academic_type) %></td>
        <td><%= link_to 'Destroy', academic_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic Type', new_academic_type_path %>
